header{
    background-color: #f3e9f1;
}
.titre{
    font-size: 12em;
}
#banner,footer {
	background-color: #f3e9f1;
}
/* PANIER*/
#tableau_panier td {
	vertical-align: middle;
}
/* FORMULAIRE*/
#formulaire p {
	font-weight: bold;
}
#erreur_mail {
	color: red;
	font-size: 0.8em;
}
#erreur_code {
	color: red;
	font-size: 0.8em;
}
#no_command {
	height: 500px;
	display: flex;
	align-items: center;
}
#confirmation {
	display: flex;
	align-items: center;
}